.col-md-2{
    background-color: #2A3F54;
}


.counter
{
    background-color: #eaecf0;
    text-align: center;
}
.counter-count
{
    font-size: 18px;
    background-color: darkblue;
    border-radius: 50%;
    position: relative;
    color: #ffffff;
    text-align: center;
    line-height: 92px;
    width: 92px;
    height: 92px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
}

.employee-p,.customer-p,.order-p,.design-p
{
    font-size: 24px;
    color: #000000;
    line-height: 34px;
}

.card-title-1 {
    float: left;
    color: #6383E3;
    font-size: 1rem;
    font-weight: 400!important;
    box-align: center!important;
}

.fa-clipboard-list:before {
    color: darkblue;
}

.border-left-primary {
    border-left: .25rem solid #2A3F54 !important;
}

.pb-2, .py-2 {
    padding-bottom: .5rem!important;
}

.shadow {
    -webkit-box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: .35rem;
}

*, ::after, ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.font-weight-bold {
    font-weight: 500!important;
}
#count {
color: lightblue;
}

.text-primary {
    color: #5FD8AC !important;
}