

<div class="dashboard">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-2">
            <app-side-menu></app-side-menu>
          </div>
          <div class="col-md-10">
            <div>
              <h1>Heading</h1>
            </div>
            <ag-grid-angular 
                 style="width: 100%; height: 350px;" 
                 class="ag-theme-balham"
                 [columnDefs]="columnDefs"
                 [animateRows]="true"
                 [pagination]="true"
                 [sortingOrder]="sortingOrder"
                 (gridReady)="onGridReady($event)"
            >
            </ag-grid-angular>
            <div class="approval table-wrapper-scroll-y my-custom-scrollbar">
              <table class="table table-striped">
                <thead>
                  <tr id="table-head">
                    <th>Sr. No</th>
                    <th>Client Id</th>
                    <th>business Name</th>
                    <th>Request Date</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tr *ngFor= "let data of approvalData; let i= index" >
                  <td>{{i+1}}</td>
                  <td>{{data.tenantUserId}}</td>
                  <td>{{data.businessName}}</td>
                  <td>{{data.createdDate}}</td>
                  <!-- <td>{{data.isApproved}}</td> -->
                  <td>
                      <div id="chkActive" *ngIf = "data.isApproved; else elseBlock">
                        Active</div>
                        <ng-template #elseBlock>Inactive</ng-template>
                      
                        &nbsp;<label class="switch">
                      <input (click) ="approval(data)" type="checkbox" [checked] = 'data.isApproved'>
                      <span class="slider round"></span>
                    </label>
                  </td>
                </tr>
                </table>
            </div>
          </div>
      </div>
  </div>
</div>

<!-- <app-side-menu></app-side-menu> -->
